<header class="group">
  <div class="logo">
    <%= image_tag("logo.png")%>
  </div>

  <nav>
    <ul>
      <li>
        <div class="boards">
          <div>
            <div></div>
            <div></div>
          </div>
          Boards
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag("happy-cat1.jpg")%>
        </div>
      </li>

    </ul>
  </nav>

  <ul id="board-list">
    <li>Boards</li>
    <% current_user.member_boards.each do |board| %>
    <li><%= link_to "#{board.title}", board_url(board) %></li>
    <% end %>
  </ul>
</header>

<!-- <ul>
  <% current_user.member_boards.each do |board| %>
  <li><%= link_to "#{board.title}", board_url(board) %></li>
  <% end %>
</ul> -->

<!-- <ul class="group">
  <% if logged_in? %>
  <li><%= link_to "#{current_user.email}", root_url %></li>
  <li><%= button_to "Logout", session_url, method: :delete, class: "logout" %></li>
  <% else %>
  <li><%= link_to "Sign Up", new_user_url %></li>
  <li><%= link_to "Login", new_session_url %></li>
  <% end %>
</ul> -->