<header class="user-header group">
  <div class="logo">
    <%= image_tag("strello.png")%>
  </div>

  <nav class="header-nav">
    <ul>
      <li>
        <div class="boards-button">
          <div>
            <div></div>
            <div></div>
          </div>
          Boards
        </div>
      </li>
      <li>
        <div class="avatar">
          <%= image_tag("happy-cat1.jpg")%>
        </div>
      </li>
    </ul>
  </nav>

  <nav class="board-list hidden">
		<button class="exit">X</button>
    <h4>Boards</h4>
    <ul>
			<li>
				<h5>My Boards</h5>
				<ul>
		      <% current_user.member_boards.each do |board| %>
		      <a href="<%= board_url(board) %>">
		        <li><%= board.title %></li>
		      </a>
		      <% end %>
				</ul>
			</li>
			<li>
				<ul>
					<a href="<%= boards_url %>">
						<li>
							See All Boards
						</li>
					</a>
					<a href="<%= new_board_url %>">
						<li> 
							New Board...
						</li>
					</a>
				</ul>
			</li>
    </ul>
	</nav>
</header>