<header class="user-header group">
	<a href="/">
	  <div class="logo">
	    <%= image_tag("strello.png")%>
	  </div>
	</a>

  <nav class="header-nav">
    <ul>
      <li>
        <div class="boards-button group">
          <div>
						<%= image_tag ("boards.png") %>
          </div>
          <span>
						Boards
					</span>
        </div>
      </li>
      <li>
        <div class="avatar">
					<% if current_user.avatar.exists? %>
			      <%= image_tag current_user.avatar.url(:thumb) %>
					<% else %>
						<%= image_tag ("default_avatar.jpg") %>
					<% end %>
        </div>
      </li>
    </ul>
  </nav>

	<%= render partial: "users/boards_menu" %>
	
	<%= render partial: "users/logout_menu" %>
</header>