<header class="user-header group">
	<a href="/">
	  <div class="logo">
	    <%= image_tag("strello.png")%>
	  </div>
	</a>

  <nav class="header-nav">
    <ul>
      <li>
        <div class="boards-button group">
          <div>
						<%= image_tag ("boards.png") %>
          </div>
          <span>
						Boards
					</span>
        </div>
      </li>
      <li>
        <div class="avatar">
					<% if current_user.avatar.exists? %>
			      <%= image_tag current_user.avatar.url(:thumb) %>
					<% else %>
						<%= image_tag ("default_avatar.jpg") %>
					<% end %>
        </div>
      </li>
    </ul>
  </nav>

  <nav class="board-list hidden">
		<button class="exit">X</button>
    <h4>Boards</h4>
    <ul>
			<li>
				<h5>My Boards</h5>
				<ul>
		      <% current_user.member_boards.each do |board| %>
		      <a href="<%= board_url(board) %>">
		        <li><%= board.title %></li>
		      </a>
		      <% end %>
				</ul>
			</li>
			<li>
				<ul>
					<a href="<%= boards_url %>">
						<li>
							See All Boards
						</li>
					</a>
					<a href="<%= new_board_url %>">
						<li> 
							New Board...
						</li>
					</a>
				</ul>
			</li>
    </ul>
	</nav>
</header>