<nav class="logout-menu hidden-form hidden">
	<div class="exit">
    <%= image_tag("exit.png")%>
	</div>
	
	<h1><%= current_user.email %></h1>
	<ul>
		<li>
			<ul>
				<a href="<%= user_boards_url(current_user) %>">
					<li>
						Boards
					</li>
				</a>
				<a href="<%= user_cards_url(current_user) %>">
					<li>
						Cards
					</li>
				</a>
				<a href="<%= edit_user_url(current_user) %>">
					<li>
						Account Settings
					</li>
				</a>
			</ul>
		</li>
		<li>
			<ul>
				<a class="new-board-link" href="<%= new_board_url %>">
					<li>
						New Board...
					</li>
				</a>
				<%= render partial: "boards/new", locals: { id: -1, hidden: true } %>
			</ul>
		</li>
		<li>
			<ul>
				<li>
					<%= button_to "Log Out",session_url, method: :delete, class: 'logout' %>
				</li>
			</ul>
		</li>
	</ul>
	
</nav>