<nav class="user-nav">
	<div class="big-avatar <%= "clickable" if user == current_user %>">
		<% if user.avatar.exists? %>
      <%= image_tag user.avatar.url(:big) %>
		<% else %>
			<%= image_tag ("default_avatar.jpg") %>
		<% end %>
		<% if user == current_user %>
		<div class="change-avatar hidden">
			<span>Change Avatar</span>
		</div>
		<% end %>
	</div>
		<% if user == current_user %>
			<%= form_for current_user, url: user_url(current_user), html: { class: "avatar-upload hidden-form hidden" } do |f| %>
				<div class="exit">
			    <%= image_tag("exit.png")%>
				</div>
		
				<h1>Change Avatar</h1>
			
				<input type="hidden"
				name="authenticity_token"
				value="<%= form_authenticity_token %>">
		
				<%= f.file_field :avatar %>
				<br>
				<%= f.submit "Save", class: "save" %>
			<% end %>
		<% end %>
	<ul>
		<li>
			<ul>
				<a href="<%= user_boards_url(user) %>">
					<li>
						Boards
					</li>
				</a>
				<a href="<%= user_cards_url(user) %>">
					<li>
						Cards
					</li>
				</a>
			</ul>
		</li>
		<% if user == current_user %>
		<li>
			<ul>
				<li class="new-board-link">
					New Board...
				</li>
				<%= render partial: "boards/new", locals: { id: 2, hidden: true } %>
			</ul>
		</li>
		<li>
			<ul>
				<a href="<%= edit_user_url(user) %>">
					<li>
						Account Settings
					</li>
				</a>
			</ul>
		</li>
		<% end %>
	</ul>
</nav>