<nav class="user-nav">
	<div class="big-avatar">
		<% if user.avatar.exists? %>
      <%= image_tag user.avatar.url(:big) %>
		<% else %>
			<%= image_tag ("default_avatar.jpg") %>
		<% end %>
		<% if user == current_user %>
		<div class="change-avatar hidden">
			<span>Change Avatar</span>
		</div>
		<% end %>
	</div>
	<% if user == current_user %>
		<%= form_for current_user, url: user_url(current_user), html: { class: "avatar-upload hidden" } do |f| %>
			<input type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token %>">
		
			<%= f.file_field :avatar %>
			<br>
			<%= f.submit "Update Avatar" %>
		<% end %>
	<% end %>
	<ul>
		<li>
			<ul>
				<a href="<%= user_boards_url(user) %>">
					<li>
						Boards
					</li>
				</a>
				<a href="#">
					<li>
						Cards
					</li>
				</a>
				<a href="#">
					<li>
						Profile
					</li>
				</a>
			</ul>
		</li>
		<% if user == current_user %>
		<li>
			<ul>
				<li>
					New Board...
				</li>
			</ul>
		</li>
		<% end %>
	</ul>
</nav>