<section class="user-nav">
	<div class="big-avatar <%= "clickable" if user == current_user %>">
		<% if user.avatar.exists? %>
      <%= image_tag user.avatar.url(:big) %>
		<% else %>
			<%= image_tag ("default_avatar.jpg") %>
		<% end %>
		<% if user == current_user %>
		<div class="change-avatar hidden">
			<span>Change Avatar</span>
		</div>
		<% end %>
	</div>
		<% if user == current_user %>
			<%= render partial: "users/edit_forms/avatar" %>
		<% end %>
	<ul>
		<li id="user-info">
			<span id="user-email"><%= user.full_name %></span>
			<span id="user-username">@<%= user.username %></span>
		</li>
		<li class="user-links">
			<ul>
				<a href="<%= user_boards_url(user) %>">
					<li>
						Boards
					</li>
				</a>
				<a href="<%= user_cards_url(user) %>">
					<li>
						Cards
					</li>
				</a>
			</ul>
		</li>
		<% if user == current_user %>
		<li class="user-links">
			<ul>
				<li class="new-board-link">
					New Board...
				</li>
				<%= render partial: "boards/new", locals: { id: 2, hidden: true } %>
			</ul>
		</li>
		<li class="user-links">
			<ul>
				<a href="<%= edit_user_url(user) %>">
					<li>
						Account Settings
					</li>
				</a>
			</ul>
		</li>
		<% end %>
	</ul>
</section>