<%= render partial: "users/header", locals: { board: @board } %>

<article class="user-pages group">
	<section id="account-settings">
		<ul>
			<h2>Account Details</h2>
			<li data-type="meta">
				Change Name, Initials, or Bio
			</li>
			<%= render partial: "users/edit_forms/meta" %>
			
			<li data-type="email">
				Change Email Address
			</li>
			<%= render partial: "users/edit_forms/email" %>
			
			<li data-type="avatar">
				Change Avatar
			</li>
			<%= render partial: "users/edit_forms/avatar" %>
			
			<li data-type="password">
				Change Password
			</li>
			<%= render partial: "users/edit_forms/password" %>
		</ul>			
	</section>
	
	<%= render partial: "users/profile_nav", locals: { user: current_user } %>
</article>