<%= render partial: "users/header", locals: { board: @board } %>


<article class="user-pages group">
	<section class="board-index">
		<h1>My Boards</h1>
		<a href="<%= new_board_url %>"><span> New board...</span></a>
		<!-- <div class="new-board"></div> -->
		<ul>
			<% @boards.each do |board| %>
			<li>
				<a href="<%= board_url(board) %>">
					<nav>
						<%= board.title %>
					</nav>
				</a>
			</li>
			<% end %>
		</ul>
	</section>

	<nav class="user-nav">
		<div class="big-avatar">
      <%= image_tag("happy-cat1.jpg")%>
			<div class="change-avatar">
				<span>Change Avatar</span>
			</div>
		</div>
	</nav>
</article>