<%= render partial: "users/header", locals: { board: @board } %>

<article class="user-pages group">
	<section class="board-index">
		<div id="my-boards-icon">
	    <%= image_tag("people_head.png")%>
		</div>
		<h1>My Boards</h1>
		<a class="new-board-link" href="<%= new_board_url %>">
			<div id="new-board-icon">
				<%= image_tag("boards_dark.png")%>
			</div>
			<span>New board...</span>
		</a>
		<%= render partial: "boards/new" %>
		<ul>
			<% @boards.each do |board| %>
			<li>
				<a href="<%= board_url(board) %>">
					<nav>
						<%= board.title %>
					</nav>
				</a>
			</li>
			<% end %>
		</ul>
	</section>

	<%= render partial: "users/profile_nav", locals: { user: current_user } %>

</article>