<%= render partial: "users/header", locals: { board: @board } %>

<article class="user-pages group">
	<section class="board-index">
		<div id="my-boards-icon">
	    <%= image_tag("people_head.png")%>
		</div>
		<h1>My Boards</h1>
		<a href="<%= new_board_url %>">
			<div id="new-board-icon">
				<%= image_tag("boards_dark.png")%>
			</div>
			<span>New board...</span>
		</a>
		<%= render partial: "boards/new" %>
		<ul>
			<% @boards.each do |board| %>
			<li>
				<a href="<%= board_url(board) %>">
					<nav>
						<%= board.title %>
					</nav>
				</a>
			</li>
			<% end %>
		</ul>
	</section>

	<nav class="user-nav">
		<div class="big-avatar">
      <%= image_tag current_user.avatar.url(:big) %>
			<div class="change-avatar hidden">
				<span>Change Avatar</span>
			</div>
		</div>
		<%= form_for current_user, url: user_url(current_user), html: { class: "avatar-upload" } do |f| %>
			<input type="hidden"
			name="authenticity_token"
			value="<%= form_authenticity_token %>">
			
			<%= f.file_field :avatar %>
			<br>
			<%= f.submit "Update Avatar" %>
		<% end%>
	</nav>
</article>