<%= render partial: "board_header", locals: { board: @board } %>


<%= link_to "Finished", board_finished_url(@board), class: "board-button" %>
<%= link_to "Current", board_url(@board), class: "board-button" %>

<article class="card-set">
  <ul>
    <%= render @board.cards.select { |card| card.start_date > Time.now } %>
  </ul>
</article>

<div>
  <%= link_to "Add Card", new_cat_card_url(@board) %>
</div>