<%= render partial: "users/header", locals: { board: @board } %>
<%= render partial: "header", locals: { board: @board } %>

<article class="group">
  <ul>
    <% @board.catagories.sort { |x, y| x.created_at <=> y.created_at }.each do |catagory| %>
    <li class="list">
      <ul class="group"><%= catagory.title %>
        <% catagory.cards.each do |card| %>
        <%= render partial: "cards/card", locals: { card: card } %>
        <% end %>
        <li><%= link_to "Add a card...", new_catagory_card_url(catagory) %>
      </ul>
    </li>
    <% end %>
    <li class="list">
      <%= link_to "Add a List...", new_board_catagory_url(@board) %>
    </li>
  </ul>
</article>