<%= render partial: "board_header", locals: { board: @board } %>

<article class="group">
  <ul>
    <% @board.catagories.each do |catagory| %>
    <li>
      <ul class="group"><%= catagory.title %>
        <% catagory.cards.each do |card| %>
        <%= render partial: "cards/card", locals: { card: card } %>
        <% end %>
        <li><%= link_to "Add a card...", new_catagory_card_url(catagory) %>
      </ul>
    </li>
    <% end %>
    <li>
      <%= link_to "Add a List...", new_catagory_url %>
    </li>
  </ul>
</article>