<%= render partial: "users/header", locals: { board: @board } %>
<%= render partial: "header", locals: { board: @board } %>

<article class="board">
  <ul class="group">
    <% @board.catagories.sort { |x, y| x.created_at <=> y.created_at }.each do |catagory| %>
    <li class="list">
      <h4><%= catagory.title %></h4>

      <ul class="group">
        <% catagory.cards.sort { |x, y| x.created_at <=> y.created_at }.each do |card| %>
          <%= render partial: "cards/card", locals: { card: card } %>
        <% end %>
      </ul>

      <div class="new-card-form">
        <div class="new-card hidden">
          <%= render partial: "cards/new", locals: { catagory: catagory } %>
        </div>
        <div class="add-card">Add a card...</div>
      </div>

    </li>
    <% end %>
   
    <li>
			<%= render partial: "catagories/new", locals: { board: @board } %>
     
			<div class="new-list">
				 Add a List...
			</div>
    </li>
    
  </ul>
</article>