<li class="mini-card"
data-id="<%= card.id %>" 
data-idx="<%= card.sort_idx %>"
<% if !!catagory %>
data-catagory-id="<%= catagory.id %>"
<% end %>
>

	<a class="card-link" href="/cards/<%= card.id %>">
	  <div class="card-text card">
			<div class="option-icon">
				<%= image_tag("option-icon.png")%>
			</div>
	    <%= card.title %>
	  </div>
	</a>
	<%= render partial: "cards/option_menu", locals: { id: card.id } %>
</li>
