<form class="card-form" action="<%= card_url(@card) %>" method="POST" accept-charset="utf-8">
  <input type="hidden" name="_method" value="PUT">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">


  <div class="card-title">
    <h3><%= @card.title %></h3> in list <strong><%= @card.catagory.title %></strong>
  </div>
	<textarea name="card[title]" class="card-title-textarea hidden"><%= @card.title %></textarea>
  <br>


  <div class="card-description">
    <%= @card.description %>
  </div>
  <button class="card-edit-button">Edit the card description.</button>
  <textarea name="card[description]" class="card-description-textarea hidden"><%= @card.description %></textarea>
  <br>
</form>


<script>
$('#add-item').on('click', function(event) {
  event.preventDefault();
  $('#checklist').append('<li><label><input type="text" name="checklist_items[][title]" value=""></label></li>');
});

$('ul').on('click', '.remove-member', function(event) {
  event.preventDefault();
  var memberId = $(event.target).data("id");
  $('#participants li').filter(function () {
    if ($(this).data('id') === memberId) {
      return true;
    }
  }).remove();
});

$('.assign-member').on('click', function(event) {
  event.preventDefault();
  var selectedOption = $('#selected-member option:selected');
  var memberId = selectedOption.val();
  var memberEmail = selectedOption.text();

  //doesn't add dup
  var persisted;
  $('#participants input').each(function(index, input) {
    if ($(input).val() === memberId) {
      persisted = true;
    }
  });

  if (!persisted && !!memberId) {
    $('#participants > ul').append('<li data-id="' +
    memberId + '"><input type="hidden" name="participants[][user_id]" value="' +
    memberId + '"> ' + memberEmail + '<button class="remove-member" data-id="' +
    memberId + '"">X</button></li>');
  }
});


</script>