<% action, method, submit = @card.persisted? ?
[card_url(@card), :put, "Update Card"] : [board_cards_url(@board), :post, "Create Card"] %>

<form action="<%= action %>" method="POST" accept-charset="utf-8">
  <input type="hidden" name="_method" value="<%= method %>">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label>Title
		<input type="text"
		name="card[title]"
    value="<%= @card.title %>">
	</label>
  <br>

	<label>Start Date
		<input type="date"
		name="card[start_date]"
    value="<%= (@card.start_date || Time.now).strftime "%Y-%m-%d" %>">
	</label>
  <br>

	<label>End Date
		<input type="date"
		name="card[due_date]"
    value="<%= (@card.due_date || 1.week.from_now).strftime "%Y-%m-%d" %>">
	</label>
  <br>
  <br>

  Checklist Items <button id="add-item">add item</button>
    <ul id="checklist">
    <% if @card.persisted? %>
       <% @card.checklist_items.each do |item| %>
       <li>
         <input type="hidden"
         name="checklist_items[][id]"
         value="<%= item.id %>">

         <input type="text"
         name="checklist_items[][title]"
         value="<%= item.title %>">
       </li>
       <% end %>
    <% else %>
       <li>
         <input type="text"
         name="checklist_items[][title]"
         value="Completed">
       </li>
    <% end%>
    </ul>
    <br>

	<label>Description
		<textarea name="card[description]"><%= @card.description %></textarea>
	</label>
  <br>


  <p>
    <div id="participants">
      Participants
      <ul>
        <% @card.participants.each do |participant| %>
        <li>
          <input type="hidden"
          name="participants[][user_id]"
          value="<%= participant.id %>">
          <%= participant.email %>
        </li>
        <% end %>
      </ul>
    </div>

    <select id="selected-member">
      <option value=""></option>
      <% @board.members.each do |member| %>
        <option value="<%= member.id %>"><%= member.email %></option>
      <% end %>
    </select>

    <button id="assign-member">Assign Member To Card</button>
  </p>

	<p>
    <input type="submit" value="<%= submit %>">
  </p>
</form>



<script>
$('#add-item').on('click', function(event) {
  event.preventDefault();
  $('#checklist').append('<li><label><input type="text" name="checklist_items[][title]" value=""></label></li>');
});

$('#assign-member').on('click', function(event) {
  event.preventDefault();
  var selectedOption = $('#selected-member option:selected');
  var memberId = selectedOption.val();
  var memberEmail = selectedOption.text();

  //doesn't add dup
  var persisted;
  $('#participants input').each(function(index, input) {
    if ($(input).val() === memberId) {
      persisted = true;
    }
  });

  if (!persisted && !!memberId) {
    $('#participants > ul').append('<li><input type="hidden" name="participants[][user_id]" value="' +
    memberId + '"> ' + memberEmail + '</li>');
  }
});
</script>