<form id="card-title-form"
action="<%= card_url(@card) %>"
method="POST"
accept-charset="utf-8"
data-remote="true">
  <input type="hidden" name="_method" value="PUT">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">


  <div class="card-title">
    <span class="card-title-detail detail">
      <h3><%= @card.title %></h3> in list <strong><%= @card.catagory.title %></strong>
    </span>
    <div class="card-title-input input hidden">
    	<textarea name="card[title]"
      class="card-title-textarea"><%= @card.title %></textarea>
      <button id="card-title-button">Save</button>
    </div>
  </div>
  <br>
</form>