<div class="card-page group">	
	<button class="exit" data-board-id="<%= @card.board.id %>">X</button>
	
  <section class="card-main">
    <%= render "title_form" %>
    <%= render "description_form" %>

    <div class="checklists">
      <ul>
      <% @card.checklists.sort { |x, y| x.created_at <=> y.created_at }.each do |checklist| %>
        <li>
          <h3><%= checklist.title %></h3>
          <ul>
            <% checklist.checklist_items.each do |item| %>
            <li><%= item.title %></li>
            <% end %>
          </ul>
          <%= link_to "Add item", new_checklist_checklist_item_url(checklist) %>
        </li>
      <% end %>
      </ul>
    </div>
  </section>

  <section class="sidebar">
    <ul>
      <li>
        <h4>Members</h4>
        <ul class="members">
          <% @card.participants.each do |member| %>
          <li>
            <div class="avatar">
              <%= image_tag("happy-cat1.jpg")%>
            </div>
          </li>
          <% end %>
        </ul>
        <!-- new_card_participation_url(@card) -->
        <button class="assign-member-button sidebar">Assign...</button>
				<div class="assign-member hidden">
					<h4>Members</h4>
					<%= render partial: "participations/new", locals: { card: @card } %>
				</div>
      </li>

      <li>
        <h4>Actions</h4>
        <ul>
          <li>
            <!-- new_card_checklist_url(@card) -->
            <button class="add-checklist-button sidebar">Add checklist...</button>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>