<form accept-charset="UTF-8"
action="<%= user_url(current_user) %>"
class="hidden-form hidden"
data-type="meta"
method="post">

	<div class="exit">
    <%= image_tag("exit.png")%>
	</div>

	<h1>Change Name and Bio</h1>

	<input type="hidden"
	name="_method"
	value="put">

	<input type="hidden"
	name="authenticity_token"
	value="<%= form_authenticity_token %>">

	<label>Full Name
		<input type="text"
		name="user[full_name]"
		value="<%= current_user.full_name %>">
	</label>
	
	<label>Initials
		<input type="text"
		name="user[initials]"
		value="<%= current_user.initials %>">
	</label>
	
	<label>Username
		<input type="text"
		name="user[username]"
		value="<%= current_user.username %>">
	</label>
	
	<label>Bio
		<br>
		<textarea name="user[bio]"><%= current_user.bio %></textarea>
	</label>
	
	<br>
	<input class="save" type="submit" value="Save">
</form>