<li class="list" 
data-id="<%= data.id %>"  
data-idx="<%= data.sort_idx %>">
	<h4><%= data.title %></h4>
	<%= JST["catagory_title_form"]({ 
		catagory: data, 
		form_authenticity_token: form_authenticity_token 
		}) %>
	
	<ul class="group">
		
	</ul>
	<div class="new-card-form">
		<div class="new-card hidden">
			
			<form class="actually-card-new-form"
			action="/catagories/<%= data.id %>/cards"
			method="POST"
			accept-charset="utf-8"
			data-remote="true">
				
				<input type="hidden"	
				name="authenticity_token"	
				value="<%= form_authenticity_token %>">
				
				<textarea name="card[title]"></textarea>
				<br>
				
				<button class="save">Add</button>
			</form>
		</div>
		<div class="add-card">Add a card...</div>
	</div>
</li>