<!DOCTYPE html>
<html>
<head>
  <title>Clairvoyance</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<% if logged_in? %>
		<li>Hello <%= current_user.email %></li>
		<li><%= button_to "Logout", session_url, method: :delete %></li>
		<% else %>
		<li><%= link_to "Sign Up", new_user_url %></li>
		<li><%= link_to "Login", new_session_url %></li>
		<% end %>
	</ul>

	<%= flash[:errors] %>

  <header></header>
  <section id="finished"></section>
  <section id="current"></section>
  <section id="pending"></section>
  <footer></footer>

<%= yield %>

<%= debug params %>
</body>
</html>
