<!DOCTYPE html>
<html>
<head>
  <title>Strello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="application/json" id="authenticity_token">
		{ "token": "<%= form_authenticity_token %>" }
	</script>
  <%= csrf_meta_tags %>
	<link rel="icon" 
	      type="image/ico" 
	      href="/assets/favicon.ico">
</head>
<body>


<%= yield %>


</body>
</html>
